body {
  margin: 0;
  padding: 0;
}
.banner {
  height: 80vh;
  width: 100%;
  background-image: url(/images/donation8.jpg);
  background-color: lightgray;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: cover;
}
.banner-content {
  text-align: center;
}
